<div class="col-md-5 " style="margin-top: 30px; padding-top: 90px; z-index:5"  >
    <div class="modal-header">
        <button style="background-color:red" type="button" class="close" data-dismiss="modal" aria-label="Close"  >
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel" >  asbdasbjdsa  </h5>
    </div>
    <form>
        <div style="background-color:aliceblue;color:black" >sjdfhkjsahfdjsa</div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>
            <button class="btn btn-lg btn-success">Save </button>

        </div>
    </form>
</div>